{% extends 'dashboard/base.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Contact App</h3>
      <p class="card-text">Django is weird, check the awesome and weird contact management app.</p>
      <a href="contact" class="btn btn-primary">Go to Contact</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Blog App</h3>
      <p class="card-text">Are you feeling dizzy? Read some blogs</p>
      <a href="{% url 'post_list' %}" class="btn btn-primary">Got to Blog</a>
    </div>
  </div>
</div>
{% endblock %}