{% extends 'contact/base.html' %}
{% block content %}
    <h1>{{ 'Welcome to Django Contact Management App' }} </h1>
    {% if contacts %}
        {% if notification %}
            <h5 class="text-center primary"> {{notification}} </h5>
        {% endif %}
        <table class="table table-hover" style="margin-top: 30px;"> 
            <thead> 
                <tr> 
                    <th>#</th> 
                    <th>First Name</th> 
                    <th>Middle Name</th> 
                    <th>Last Name</th> 
                    <th>Email Address</th> 
                    <th>Phone Number</th> 
                </tr> 
            </thead> 
            <tbody> 
                {% for contact in contacts %}
                    <tr data-ng-click="Redirect({{contact.id}})"> 
                        <th scope="row">{{ forloop.counter }}</th> 
                        <td>{{contact.first_name}}</td> 
                        <td>{{contact.middle_name}}</td> 
                        <td>{{contact.last_name}}</td> 
                        <td>{{contact.email}}</td> 
                        <td>{{contact.phone_number}}</td> 
                    </tr> 
                {% endfor %}
            </tbody> 
        </table>
    {% else %}
        <h4 class="text-center"> {{"No contact found, please add new contact"}}</h4>
    {% endif %}
{% endblock %}